<div class="small-12 medium-8 column">
  <ul>
    <li>
      <%= link_to t("layouts.header.participatory_budgets_2017"), page_path('participatory_budget/in_two_minutes'), class: ("active" if current_page?("/participatory_budget/in_two_minutes")), accesskey: "p"  %>
    </li>
    <li>
      <%= link_to t("layouts.header.public_consultation"), page_path('public_consultation'), class: ("active" if current_page?("/public_consultation")), accesskey: "a"  %>
    </li>
    <li>
      <%= link_to t("layouts.header.previous_hearing"), t('layouts.header.previous_hearing_url'), target: '_blank'  %>
    </li>
  </ul>
</div>