<div class="small-12 medium-8 column subnavigation-menu">
  <ul>
    <% if feature?(:budgets) %>
        <li>
          <%= link_to t("layouts.header.participatory_budgets"), budgets_path, accesskey: "p"  %>
        </li>
    <% end %>
    <% if feature?(:legislation) %>
        <li>
          <%= layout_menu_link_to t("layouts.header.collaborative_legislation"),
                                  legislation_processes_path,
                                  controller.class.parent == Legislation,
                                  accesskey: "l" %>
        </li>
    <% end %>
    <li>
      <%= link_to t("layouts.header.proposals"), proposals_path, class: ("active" if current_page?(proposals_path)), accesskey: "p"  %>
    </li>
    <li>
      <%= link_to t("layouts.header.previous_hearing"), "https://transparencia.getafe.es/portalGetafe/transparencia/se_contenedor2.jsp?seccion=s_fdes_d4_v2.jsp&codbusqueda=207&language=es&codResi=1&codMenuPN=107&codMenuSN=117&codMenuTN=297&codMenu=318", target: '_blank' %>
    </li>
  </ul>
</div>