<%- limit ||= nil %>

<% if taggable.tags.any? %>
  <ul id="tags_<%= dom_id(taggable) %>" class="no-bullet tags">
    <% taggable.tag_list_with_limit(limit).each do |tag| %>
      <li class="inline-block">
        <%= link_to sanitize(tag.name),
                    taggable_path(taggable.class.name.underscore, tag.name),
                    search: tag.name %></li>
    <% end %>
  </ul>
<% end %>
