<% unless @budget ||  current_page?(page_path('proposal_revision_period'))%>
    <div class="banner">
      <div class="row banner-inner">

        <div class="medium-8 small-12 column banner-left">

          <span class="message">
            <%= t('budgets.banner.message').html_safe %>
          </span>


        </div>
        <div class="medium-4 small-12 column banner-right text-center">

          <%= link_to page_path('proposal_revision_period'), class: "button" do %>
            Más información
          <% end %>

          <%= link_to budgets_path, class: "button" do %>
              Ver propuestas
          <% end %>
        </div>
      </div>
    </div>
<% end %>