<div class="banner">
  <div class="row banner-inner">
    <div class="medium-8 column banner-icon banner-left">
      Proceso activo de Presupuestos Participativos 2017
    </div>
    <div class="medium-4 column banner-right">
      <%= link_to 'PARTICIPA AQUÍ, TU OPINIÓN CUENTA', budgets_path, class: "button" %>
    </div>
  </div>
</div>