<% unless @budget ||  current_page?(page_path('proposal_revision_period'))%>
  <div class="banner">
    <div class="row banner-inner">

      <div class="medium-6 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Presupuestos Participativos 2018 </span><br/>Resultados publicados</span>
          </span>
      </div>
      <div class="medium-6 small-12 column banner-right text-center">

        
          <%= link_to 'VER RESULTADOS',
                      results_budget_path(Budget.last),
                      class: 'button expanded' %>
    

      </div>
    </div>
  </div>
<% end %> 