<% unless  @budget ||  current_page?(page_path('proposal_revision_period'))%>
    <div class="banner">
    <div class="row banner-inner">

      <div class="medium-12 small-12 column banner-left">

          <span class="message">
            Participa en la nuevas Consultas Ciudadanas:
            <%= link_to 'Plan Municipal de Accesibilidad de la Ciudad de Getafe', page_path('plan-municipal-accesibilidad-getafe')%>
            y
            <%= link_to 'Pleno del estado del municipio', page_path('participacion-consulta-pleno-del-estado-del-municipio')%>
          </span>

        </div>
      </div>
    </div>
<% end %>