<% unless  @budget ||  current_page?(page_path('proposal_revision_period'))%>
    <div class="banner">
    <div class="row banner-inner">

      <div class="medium-8 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Iniciada fase de votación de propuestas</span><br/>del 19 de Junio (9.00h) de Junio hasta el 25 Junio.</span>
          </span>

        </div>
        <div class="medium-4 small-12 column banner-right">
             <%= render 'shared/access_ballot_button' %>
             <%= link_to "Más información", page_path('fase_votacion_presupuestos_participativos'), class: "" %>
        </div>
      </div>
    </div>
<% end %>