<% unless  @budget ||  current_page?(page_path('proposal_revision_period'))%>
    <div class="banner">
    <div class="row banner-inner">

      <div class="medium-12 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Publicados resultados Presupuestos Participativos 2017</span><br/> <%= link_to 'VER RESULTADOS', results_budget_path(1), class: 'button' %></span>
          </span>

        </div>
      </div>
    </div>
<% end %>