<% unless  @budget ||  current_page?(page_path('proposal_revision_period'))%>
    <div class="banner">
    <div class="row banner-inner">

      <div class="medium-12 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Finalizada fase de votación de propuestas Presupuestos Participativos 2017</span><br/> En conteo de resultados</span>
          </span>

        </div>
      </div>
    </div>
<% end %>