<% unless @budget ||  current_page?(page_path('proposal_revision_period'))%>
  <div class="banner">
    <div class="row banner-inner">

      <div class="medium-8 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Iniciados Presupuestos Participativos 2018 </span><br/>Fase de presentación de propuestas abierta hasta el 30 de Marzo</span>
          </span>


      </div>
      <div class="medium-4 small-12 column banner-right text-center">

        <%= link_to budget_path(2), class:'button' do %>

          Ir al proceso

        <% end %>
      </div>

    </div>
  </div>
<% end %>