<% unless @budget ||  current_page?(page_path('proposal_revision_period'))%>
  <div class="banner">
    <div class="row banner-inner">

      <div class="medium-8 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Presupuestos Participativos 2018 </span><br/>En fase de evaluación técnica de propuestas hasta 21 de Mayo 2018</span>
          </span>


      </div>
      <div class="medium-4 small-12 column banner-right text-center">
      </div>

    </div>
  </div>
<% end %>
