<% unless @budget ||  current_page?(page_path('proposal_revision_period'))%>
  <div class="banner">
    <div class="row banner-inner">

      <div class="medium-8 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Presupuestos Participativos 2018 </span><br/>Votación abierta del 21 al 31 de Mayo
          </span>


      </div>
      <div class="medium-4 small-12 column banner-right text-center">
        <%= link_to 'Acceder a votación',
                    budget_ballot_path(Budget.last),
                    class: 'button expanded' %></span>
      </div>

    </div>
  </div>
<% end %>
