<% provide :title do %><%= t('pages.titles.conditions') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO</h2>

    <p>
    El Ayuntamiento de Getafe, a través de Participa Getafe (también nombrado como "portal Web"), facilita información y servicios de interés general de la ciudad y, en especial, de su organización municipal. La información facilitada es la vigente en el momento de su publicación.
    </p>
    <p>
    El Ayuntamiento de Getafe procura que la información sea exacta y precisa y la actualiza con la mayor rapidez posible. También trata de evitar errores y los corrige tan pronto como los detecta. No obstante el Ayuntamiento no puede garantizar la inexistencia de errores ni que la información esté permanentemente actualizada.
    </p>
    <p>
    El Ayuntamiento podrá realizar, en cualquier momento y sin previo aviso, modificaciones, correcciones o supresiones de la información publicada y podrá cambiar su configuración o presentación.
    </p>

    <p>
    El acceso al portal Web, así como el uso de su información, son de la exclusiva responsabilidad del usuario. El Ayuntamiento de Getafe no es responsable de ningún perjuicio que pudiera derivarse de esos hechos, tampoco puede garantizar que el acceso no sea interrumpido o que el contenido o software al que pueda accederse no tenga errores o no pueda causar daños.
    </p>

    <p>
      La información proporcionada en respuesta a cualquier consulta o petición de información tiene carácter meramente orientativo y en ningún caso será vinculante para la resolución de un procedimiento administrativo.
    </p>
    <p>
    El Ayuntamiento no asume ninguna responsabilidad de las conexiones ni de los contenidos de las páginas web de terceros de los que se incluyan enlaces en el portal por considerar que puedan ser de interés para los usuarios.
    </p>
    <p>
    El uso y explotación de los contenidos y servicios del portal Web están sujetos a lo establecido en la Ley 37/2007, de 16 de noviembre, sobre reutilización de la información del sector público.
    </p>
    <p>
      La estructura del portal Web, sus diseños, logos, informaciones y códigos son de titularidad del Ayuntamiento de Getafe, salvo expresa indicación de una titularidad diferente, y están protegidos por la legislación sobre propiedad intelectual e industrial.
    </p>
    <p>
      El Ayuntamiento es la entidad responsable del fichero de datos generado con los datos de carácter personal suministrados por los usuarios del portal Web y se compromete a tratarlos conforme determina la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal. El portal utiliza “cookies” para dar servicio (autenticación) que en ningún caso recogerán datos de carácter personal.
    </p>
  </div>


</div>
