<div class="row section-content">
  <div class="row section-content">
    <div class="small-12 column">
      <h3 id="budgets" data-magellan-target="budgets">
        Presupuestos participativos
      </h3>
      <p>Puedes decidir cómo gastar parte del presupuesto en tu barrio.</p>
      <ul class="features">
        <li>
          Para crear un proyecto de gasto tienes que <a href="/users/sign_up" class="isDarker">registrarte en Participa Getafe</a> y verificar tu cuenta.
        </li>
        <li>En primer lugar empieza la <strong>fase de aceptación</strong> de propuestas.</li>
        <li>Después hay una <strong>fase de evaluación</strong> en la que el Ayuntamiento evalúa las propuestas para ver si son viables y cuánto valen.</li>
        <li>Al final hay una <strong>fase de votación</strong> donde los vecinos deciden en cuáles se gasta esa parte del presupuesto.</li>
      </ul>

    </div>
  </div>
</div>
