<h3 id="other" data-magellan-target="other"><%= t("pages.help.other.title") %></h3>

<ul class="features">

  <li><a href="/propuesta-presupuesto-2020" class="isDarker">PROPUESTA PRESUPUESTO MUNICIPAL 2020</a></li>
  <li><a href="/consejo-social-ciudad" class="isDarker">CONSEJO SOCIAL DE LA CIUDAD</a></li>
  <li><a href="/escuela-ciudadana" class="isDarker">ESCUELA DE FORMACIÓN CIUDADANA</a></li>
  <li><a href="/mapas-barrios-participacion" class="isDarker">MAPAS DE BARRIOS (ADSCRIPCION DE LOS 11 BARRIOS)</a></li>
  <li><a href="/plan-municipal-accesibilidad" class="isDarker">PLAN MUNICIPAL DE LA ACCESIBILIDAD DE LA CIUDAD DE GETAFE</a></li>
</ul>
