<div class="row section-content">
  <div class="small-12 column">
    <h3 id="assemblies" data-magellan-target="proposals">
      Espacios de Participación
    </h3>
    <p>Los Espacios de Participación permiten al ciudadano conocer las próximas Asambleas y Consejos, proponer puntos del día y revisar los puntos tratados y las decisiones tomadas.</p>
    <ul class="features">
      <li>
        Para crear una propuesta tienes que <a href="/users/sign_up" class="isDarker">registrarte en Participa Getafe</a> y verificar tu cuenta.
      </li>
      <li>Podrás conocer la agenda de Espacios de Participación  en Getafe proponer puntos del día para debatir en  la asamblea.</li>
      <li>Podrás descargarte el acta de la asamblea y conocer los puntos del día.</li>
    </ul>
  </div>
</div>
