<div class="row section-content">
  <div class="small-12 column">
    <h3 id="proposals" data-magellan-target="proposals">
      Propuestas
    </h3>
    <p>Propón lo que quieres que el Ayuntamiento lleve a cabo y expra tu opinión a las propuestas de otras personas.</p>
    <ul class="features">
      <li>
        Para crear una propuesta tienes que <a href="/users/sign_up" class="isDarker">registrarte en Participa Getafe</a> y verificar tu cuenta.
      </li>
      <li>Al crear una propuesta esta puede ser comentada por otros vecinos y puedes apoyarla haciend like en la propuesta.</li>
    </ul>
  </div>
</div>
