<div class="row">

  <div class="small-12 column">
    <%= link_to admin_volunteerings_path, class: "back" do %>
      <span class="icon-angle-left"></span>
      <%= t("admin.geozones.edit.back") %>
    <% end %>

    <h1><%= t("admin.volunteering.new.creating") %></h1>

    <%= render "form2" %>
  </div>
</div>
