// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


$brand:             #B80830;
$brand-original:    #004A83;
$dark:              darken($brand-original, 10%);

body, html {

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

.box {

    background-color: #e9e9e9;
    padding: 15px;
    padding-bottom: 0px;

    .button {

      color: white;
    }
}

h1, h2, h3, h4, h5 {

  text-transform: uppercase;
  font-weight: lighter !important;
}

h1.project-title {

  font-weight: normal !important;
  font-size: 400%;
  margin-bottom: 0px;
  text-align: left;
  line-height: 50px;
  margin-top: 50px;
}

h2.project-slogan {

  text-transform: lowercase !important;
  font-style: italic;
  color: #a9a9a9;
  text-align: left;
}

h2.project-slogan:first-letter {
  text-transform: capitalize !important;
}

p.project-introduction {
  background-color: #e6e7e9;
}

/* In two minutes pages */
.highlight.custom-getafe {

  background-color: #e6e7e9;
  background-image: image-url('icon_home.gif');
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: 80% bottom;
}


tr.small > td {

  vertical-align: top;
  p {

    font-size: 85% !important;
  }
}

.expanded.highlight {

  padding-top: 20px;
}

#home-with-icon-background {

  background-color: white;

}

/* Footer */

h1.logo {
  text-transform: uppercase;
  float: left;
  margin-right: 35px;
  img {
    margin: 0;
  }
}


/* custom background */
.spending-proposal-bg {
  background: $budget image-url('spending_proposals_bg.jpg');
}

.public-consultations-bg {
  background: $budget image-url('public_consultations_bg.jpg');
}

/* Spending proposals */

table#spending-proposals-results {

  td.index {
    color: #777;
    font-weight: bolder;
    text-align: center;
  }
}

.page-background-row {

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: white;
    font-weight: normal !important;
    margin: $line-height 0;
  }

  .button {
    background: white;
    color: $budget;
  }

  &.results {

    .back {
      color: white;
    }
  }
}

.spending-proposal-timeline {

  ul {
    display: inline-block;

    @include breakpoint(medium) {
      border-top: 2px solid $border;
    }

    p {
      color: white;

      &.title {
        font-size: rem-calc(24);
        font-weight: bold;
      }
    }


    li {
      padding-top: $line-height*1.5;
      position: relative;

      @include breakpoint(medium) {
        display: inline-block;
        margin-right: $line-height*2.5;
      }

      .icon-calendar {
        background: white;
        border: 1px solid $border;
        border-radius: rem-calc(30);
        color: $budget;
        height: rem-calc(40);
        left: 50%;
        margin-left: rem-calc(-20);
        padding: rem-calc(10);
        position: absolute;
        top: -20px;
        width: rem-calc(40);
      }

      &.active {
        @include breakpoint(medium) {
          border-top: 1px solid $featured;
          margin-top: rem-calc(-1);
        }

        .icon-calendar, h3, p {
          color: $featured;
        }

        .icon-calendar {
          background: $featured;
          border: none;
          box-shadow: 0 0 rem-calc(10) $featured;
          color: black;
        }
      }
    }
  }
}

.spending-proposals-text {

  table {

    thead tr th {
      background: $highlight;
      text-transform: uppercase;
    }

    tr td {
      font-size: $base-font-size;
    }
  }

  .margin {
    margin-bottom: $line-height*2;
    margin-top: $line-height*2;
  }

  @include breakpoint(medium down) {
    .text-right {
      text-align: left !important;
    }
  }
}

.investment-project-sidebar-votes {

  .sticky {
    background: rgba(255,255,255,.85);

    @include breakpoint(medium down) {
      margin-top: $line-height;
      position: initial;
    }
  }

  .counters {

    .callout {
      float: left;
      margin-right: $line-height/4;
      min-height: rem-calc(130);
      padding: $line-height/2 0;
      width: rem-calc(125);
    }

    .callout.warning.unverified {
      padding: $line-height/2;
      width: 100%;
    }

    span {
      text-transform: uppercase;
    }
  }

  .votes-number {
    font-size: rem-calc(80);
    font-weight: bold;
    line-height: rem-calc(80);
    margin-bottom: 0;
    vertical-align: top;
  }

  .icon-deleted {
    font-size: rem-calc(40);
    line-height: rem-calc(40);
  }
}

.investment-projects-scope {

  .callout {
    background: white;
    border-color: $border;
    border-radius: 0;
    color: $text;

    @include breakpoint(medium) {
      height: $line-height*17;
    }

    a {
      font-size: $base-font-size;
    }
  }

  .callout.primary {
    border-top: 4px solid $info-border;

    @include breakpoint(medium) {
      background: image-url('investment_project_city.jpg') no-repeat bottom;
    }
  }

  .callout.success {
    border-top: 4px solid $success-border;

    @include breakpoint(medium) {
      background: image-url('investment_project_districts.jpg') no-repeat bottom;
    }

    .button {
      margin-bottom: 0;
    }

    .accordion {
      background: white;
      border: 0;
    }

    .accordion-title {
      border: 0;
      color: $text;
      padding: 0;

      &:before {
        content: none;
      }

      &:hover, &:focus, &:hover h2, &:focus h2 {
        background: none;
        color: $text;
        text-decoration: none;
      }
    }

    .accordion-content {
      background: none;
      border: 0;

      @include breakpoint(medium) {
        padding-bottom: rem-calc(39);
      }
    }
  }
}

.no-underline a,
.no-underline a:hover,
.no-underline a:hover h2 {
  color: $text !important;
  text-decoration: none !important;
}

.is-forum {
  background: $budget;
}

.forum.active {
  color: $check;
  font-weight: bold;

  a {
    background: $success-bg;
    border: 1px solid $success-border;
    border-radius: 35px;
    color: $success-color;
    padding: rem-calc(6) rem-calc(12);
  }

  &:after {
    color: $check;
    content: "\6c";
    font-family: 'icons';
    margin-left: rem-calc(6);
  }
}

.jumbo-investment-project-votes {
  background: #F6F5F8;

  .content {
    background: #F6F5F8;

    @include breakpoint(large) {
      padding-bottom: $line-height;
      padding-top: $line-height;
    }
  }

  h1 {
    color: $budget;
  }

  .button.budget {
    background: $budget;

    &:hover {
      background: $budget-hover;
    }
  }
}

.jumbo-investment-image {
  height: rem-calc(360);
  position: absolute;
}

.investment-projects-scope {

  a {
    line-height: $line-height*2;
  }
}

.jumbo-delegation {
  background: $budget image-url('investment_project_delegation.jpg');
  margin-bottom: rem-calc(-96);

  @include breakpoint(medium) {
    min-height: $line-height*15;
  }

  h2, h3, p {
    color: white;
  }

  h3 a {
    color: white;
    text-decoration: underline;
  }

  .button {
    background: white;
    color: $budget;
  }
}

.investment-project .supports .total-supports.no-button,
.investment-project-show .supports .total-supports.no-button {
  display: block;
  margin-top: $line-height*1.5;
}

table.age-groups-investment-projects {

  .progress {
    background: #dad9e3;
    height: $line-height/2;
  }

  .progress-meter {
    background: $budget;
  }
}


/* custom footer */
footer h2 a {

  border-bottom: none;
}