<div class="mainContainer">
  <div class="tittleBar">
    <div class="contentBar">
      <img src="../assets/volunteering/voluntariadoGetafe.png" class="imageTittle">
    </div>
  </div>
  <div class="contentBody">
    <div class="menu2">
      <div onclick="location.href='/volunteerings';" class="menuItem2">
        Inicio
      </div>
      <div onclick="location.href='/volunteerings/organization_voluteering';" class="menuSelectedItem2">
        Organización del voluntariado en Getafe
      </div>
      <div onclick="location.href='/volunteerings/voluntary_acts';" class="menuItem2">
        Actos de voluntariado más importantes en Getafe
      </div>
      <div onclick="location.href='/volunteerings/training_actions';" class="menuItem2">
        Acciones Formativas
      </div>
    </div>
    <div class="content">
      <div>
        <h3><strong>ORGANIZACIÓN DEL VOLUNTARIADO EN GETAFE</strong></h3>

        <p>En Getafe se organiza el voluntariado a través de Mesas de trabajo:</p>

        <p>Mesa de Voluntariado Municipal:</p>
        <p>Espacio de debate entre personas voluntarias elegidas democráticamente para representar un proyecto, centro o
          delegación.
          Con el objetivo de plantear y recoger demandas y necesidades de todo el voluntariado en general y desarrollar
          acciones para la globalidad del voluntariado.
          Formado por un voluntario de cada centro cívico y un voluntario del programa de Cultura “Visitas Culturales
          por Getafe”. Se reúnen el primer lunes de cada mes.</p>

        <p>Mesa de Entidades de Acción Voluntaria:</p>
        <p>Espacio de debate entre representantes de entidades que tiene en marcha programas de voluntariado.
          Con el objetivo de poner en común sus demandas y necesidades y desarrollar acciones para la globalidad del
          voluntariado.
          Actualmente formado por las asociaciones: Affag, Apanid, AFFVV, Asociación Tiempo Libre Alternativo del Sur
          (A.T.L.A.S.), FAPAS, Agrupación de mayores Gloria María, Cruz Roja, Otro Getafe es Posible, + Mujer +Igualdad,
          Feddig 2008 y KIF KIF.
          Pueden participar todas aquellas asociaciones de Getafe que lo deseen.Se reúnen el primer martes de cada
          mes </p>

        <p>Mesa Técnica:</p>
        <p>Equipo de profesionales, responsables de proyectos de voluntariado, que coordinan actuaciones, que definen en
          común aquellos aspectos que afectan a la globalidad del voluntariado y desarrollan acciones para el
          voluntariado del municipio. Delegaciones: Salud, Mayores, Deportes, Cultura, Servicios Sociales, Bienestar
          Social, Cooperación Internacional, Educación, CAID, Juventud, Participación Ciudadana y Mujer .Se reúnen el
          primer martes de cada mes.</p>

        <p>Plataforma del voluntariado:</p>
        <p>Espacio de debate entre los distintos agentes implicados; Voluntarios/as, Técnicos/as y Políticos/as con el
          objetivo de resolver y dar el visto bueno al trabajo planteado en las estructuras anteriores.
          Se convoca cuando hay que ratificar algún documento o acto importante</p>

        <p>Mesa Conjunta:</p>
        <p>Hay dos reuniones al año de la Mesa Conjunta, en Diciembre y en Junio. Se convoca a todas las Mesas para
          valorar los actos de voluntariado realizados a lo largo del año.</p>
      </div>
    </div>
  </div>
</div>
