<div class="mainContainer">
  <div class="tittleBar">
    <div class="contentBar">
      <img src="../assets/volunteering/voluntariadoGetafe.png" class="imageTittle">
    </div>
  </div>
  <div class="contentBody">
    <div class="menu2">
      <div onclick="location.href='/volunteerings';" class="menuItem2">
        Inicio
      </div>
      <div onclick="location.href='/volunteerings/organization_voluteering';" class="menuItem2">
        Organización del voluntariado en Getafe
      </div>
      <div onclick="location.href='/volunteerings/voluntary_acts';" class="menuItem2">
        Actos de voluntariado más importantes en Getafe
      </div>
      <div onclick="location.href='/volunteerings/training_actions';" class="menuSelectedItem2">
        Acciones Formativas
      </div>
    </div>
    <div class="content">
      <div>
        <h3><strong>ACCIONES FORMATIVAS</strong></h3>

        <p>
          Durante el 2019 se programaron un total de 4 acciones formativas a través de la Escuela de voluntariado de la Comunidad de Madrid:
        </p>

        <p>- "Voluntariado con mayores": que tuvo lugar los días 6 y 7 de febrero de 10:00 a 14:00 horas en el Salón de Actos de la Delegación de Educación, Calle Béjar nº3 28904 Getafe</p>

        <P>- “Formación en Voluntariado”: que tuvo lugar los días 11, 12 y 13 de Junio de 10:00 a 14:00 h. y el último día de 10:00 a 12:00 horas en la Casa del Mayor d Getafe, calle Manzana nº12 local 3 de Getafe.</P>

        <P>- Claves para cuidar la implicación emocional en el voluntariado: que tuvo lugar los días 29 y 30 de Octubre de 10:00 a 14:00 h en la calle Álvaro de Bazán nº 12 sede de Entidades de Salud de Getafe. </P>

        <P>- Formación en Voluntariado: que tuvo lugar los días 5 y 6 de Noviembre de 10:00 a 14:00 h. y el último día de 10:00 a 12:00 horas en el Centro Cívico Getafe Norte en la Av. Rigoberta Menchú, 4 de Getafe. </P>
      </div>
    </div>
  </div>
</div>
