<div class="mainContainer">
  <div class="tittleBar">
    <div class="contentBar">
      <img src="../assets/volunteering/voluntariadoGetafe.png" class="imageTittle">
    </div>
  </div>
  <div class="contentBody">
    <div class="menu2">
      <div onclick="location.href='/volunteerings';" class="menuItem2">
        Inicio
      </div>
      <div onclick="location.href='/volunteerings/organization_voluteering';" class="menuItem2">
        Organización del voluntariado en Getafe
      </div>
      <div onclick="location.href='/volunteerings/voluntary_acts';" class="menuSelectedItem2">
        Actos de voluntariado más importantes en Getafe
      </div>
      <div onclick="location.href='/volunteerings/training_actions';" class="menuItem2">
        Acciones Formativas
      </div>
    </div>
    <div class="content">
      <div>
        <h3><strong>ACTOS DE VOLUNTARIADO MÁS IMPORTANTES EN GETAFE</strong></h3>

        <p>
          Día Internacional del voluntariado (5 de Diciembre). Se celebra en el Teatro Federico García Lorca. Se invita a voluntarios municipales y entidades al acto. Asiste la Alcaldesa y grupos políticos, Directores y Coordinadores de Centros Cívicos y Técnicos municipales.
          Consta de un manifiesto que leen los voluntarios de las Mesas, carta de la Alcaldesa y una actuación.
          El año 2018 se grabo un video del voluntariado de Getafe en <a href=" https://www.youtube.com/watch?v=pIurpE9E1Kc">Youtube </a>que se proyectó en el Teatro García Lorca con motivo de la Celebración del Día Internacional del Voluntariado.
        </p>

        <p>Jornadas de Voluntariado de la Universidad Carlos III (Febrero-Marzo):</p>
        <p>
          Feria de Asociaciones: feria donde pueden participar todas las entidades de Getafe. El Gobierno Municipal recupero esta feria hace dos años tras cuatro años sin llevarse a cabo, con el objetivo de fomentar la participación de vecinos y asociaciones en la ciudad.
          Las entidades participantes pertenecen a los ámbitos de la cultura, deporte, salud, juventud, mayores, sostenibilidad, servicios sociales, igualdad, educación, bienestar social y cooperación. Estuvieron expuestas en casetas distribuidas en entorno de la plaza de la Constitución.
          Las asociaciones muestran sus actividades en distintos stands. Algunas de ellas realizaron diferentes actividades: bailes y danzas, exhibiciones, ofrecieron conferencias, conciertos de música, venta de artesanía y productos de comercio justo, talleres de primeros auxilios, presentación de proyectos y actividades de ocio y tiempo libre, así como deportivas, orientadas a todas las edades.
        </p>
        <p>La Feria pretende consolidarse como un espacio de visibilización y reconocimiento de la acción voluntaria y asociada de nuestro municipio.</p>

        <p>
          Encuentro de Voluntariado: encuentro de los diferentes voluntarios de proyectos municipales     . También están invitados los voluntarios de las diferentes entidades de Getafe.
          En el Encuentro de Voluntariado participan todas las personas voluntarias que imparten talleres y cursos en los diferentes Centros Cívicos de Getafe, así como voluntarios de otras delegaciones: mayores, juventud, etc. También acuden al acto representantes de Entidades Sociales y ciudadanas y Asociaciones de todo tipo, así como el público que se acerca al evento. A través del encuentro, el Gobierno Municipal, quiere reconocer el gran trabajo que las personas voluntarias realizan en Getafe cada día. Una implicación sin la que las actividades de los centros cívicos o de muchos colectivos y ONG no serían posibles.
        </p>

        <p>
          Muestra de artesanía: recorrido por los trabajos de artesanía realizados por los voluntarios que colaboran en los diferentes centros cívicos de Getafe. Se realiza cada dos años.
          La última muestra Tuvo lugar del 7 al 13 de Febrero de 2019 en el “Espacio Mercado” del municipio. Se mostraron los trabajos de más de 180 talleres, fruto de la creatividad, destreza manual y artística de las voluntarias que comparten su saber con los ciudadanos. Había diferentes rincones: Artes decorativas, artes plásticas y audiovisuales, artesanía de encajes y bordados, artesanía del vidrio, artesanía textil y oficios artesanos.
        </p>

        <p>
          Promoción del voluntariado en barrios: asociaciones y voluntarios cuentan sus proyectos, experiencias, etc. a los asistentes en los diferentes centros cívicos.
        </p>
      </div>
    </div>
  </div>
</div>
