<div class="marging-top">
  <div class="small-12 column">
    <br>
    <h3>
      <%= t('.attachments_gallery') %>
    </h3>
  </div>
</div>
<div class="row">
  
    <div class="columns small-12 medium-6 large-4">
      <div class="card column">

        
        <div class="card-section">
          <p class="text-muted">
            <small>
            </small>
          </p>
        </div>
      </div>
    </div>

  <div class="columns small-12"></div>
</div>
<br>
<br>