<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="tracking_data" data-track-usertype="anonymous">

  <meta name="description" content="">

  <meta name="keywords" content="">

  <title>Getafe - Asambleas de barrio</title>

  <link rel="stylesheet" media="screen" href="custom.scss">
  <!--[if lt IE 9]>
  <link rel="stylesheet" media="screen"
        href="assets/ie-aaceaebc5c2bbc209791077d1ebfbe04df35db71b52e9833e1a38810b4d8dd70.css"/>
  <![endif]-->
  <script src="assets/codigi.js" data-turbolinks-track="true"></script>
  <style>.cke {
    visibility: hidden;
  }</style>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token"
        content="5mVao2qh4UajqhN0Va2cHE59Wq68o3ssgG0tl3m+AsjhBkkZwYU70KuC4xIuTJIbAR+0C9F0YgyLf9lFP+IFhg==">


  <style>html.turbolinks-progress-bar::before {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #0076ff;
    height: 3px;

    opacity: 0.99;
    width: 0%;
    transition: width 0ms ease-out, opacity 0ms ease-in;
    transform: translate3d(0, 0, 0);
  }</style>
  <meta class="foundation-mq">
  <script charset="utf-8" src="/assets/custom/codigo.js"></script>
  <script charset="utf-8" src="/assets/custom/codigo.js"></script>
</head>


<div class="wrapper">
  <main>
    <div class="row">
      <div class="small-12 column">
        <div id="assemblies-list">
          <ul class="tabs text-right" data-tab="" role="tablist">
          </ul>
        </div>
      </div>
      <div class="row">
        <div id="assemblies" class="assemblies-list small-12 medium-9 column">
          <div id="meeting_45" class="legislation clear investment-project-show" style="padding: 0px;">
            <div class="column row legislation-text" style="padding: 0px; margin: 0px;">
              <div class="small-3 column" style="padding-left: 0px;">
                <div class data-equalizer-watch style>
                  <div style="min-height: 229px;">
                  </div>
                </div>
              </div>
              <div class="small-5 column" style="padding-top: 15px;">
                <div class="legislation-text">
                  <h3>DEFENSA DE LA ADOPCIÓN<img src="/assets/custom/ej/logo-atlas.png" >
                  </h3>

                </div>
                <div class="investment-project-info">
                  Servicios Sociales
                  Participación Ciudadana / Vecinal
                  <span class="warning round radius label"><p></p>
					Intercultural
					</span>

                </div>
                <div class="">
                  <P>Contacto: 667773498</P>
                  <p>MAIL: satlas@asatlas.org </p>
                  <P>Web: <a href="https://www.asatlas.org/"> www.asatlas.org</a></p>
                  <p>DIRECCIÓN: <a
                    href="https://www.google.es/maps/place/Calle+%C3%81lvaro+de+Baz%C3%A1n,+12,+28902+Getafe,+Madrid/@40.3105537,-3.7315276,17z/data=!3m1!4b1!4m5!3m4!1s0xd4220bdf39701cd:0xbb0bdfbc85587545!8m2!3d40.3105496!4d-3.7293389?hl=es">c/
                    Álvaro de Bazán 12</a></p>
                </div>
              </div>
              <div class="small-4 column">
                <p class="text-center">

                </p>
              </div>
            </div>
            <div class="column row small-collapse medium-uncollapse legislation-calendar">
              <div class="small-6 medium-4 column">
                <h5><a
                  href="https://www.webconsultas.com/bebes-y-ninos/psicologia-infantil/consejos-para-padres-de-ninos-adoptados-12437">
                  Proceso de adaptación </a></h5>
              </div>
              <div class="small-6 medium-4 column">
                <h5>twitter</h5>
                <p>
                  <a href="https://twitter.com/asatlas"><img src="/assets/custom/ico-twitter.png" alt="twitter"></a>
                </p>
              </div>
              <div class="small-6 medium-4 column">
                <h5>facebook</h5>
                <p>
                  <a href="https://www.facebook.com/Asociacion.ATLAS"><img src="/assets/custom/ico-facebook.png"
                                                                           alt="facebook"></a></p>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
              <div id="section_help" class="margin" data-magellan-target="section_help">
                <p class="lead">
                  <strong>Consejos y Asambleas Sectoriales</strong>
                </p>
                <p></p>
                <p>La Asociación Atlas abrió sus puertas en 1988 en Getafe (Madrid) para ayudar y dar información sobre
                  las adopciones a todas aquellas personas que quieren aumentar la familia. Su labor se extiende tanto
                  nacional, como internacionalmente, dando asesoramiento a todos aquellos padres que quieren adoptar
                  aquí o en el extranjero.</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


